<div data-role="view" data-title="My Home" data-layout="main-nonav" data-model="app.cat" data-show="app.cat.onShow" data-after-show="app.cat.afterShow"
    id="catScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span>Category Admin</span>
            <a data-role="backbutton" data-align="left">Back</a>
        </div>
    </header>

    <div class="container">
        <!-- Page Content goes here -->
        <div class="section">
            <div class="row">
                <div class="col s12 m6">
                    <h4>Category List</h4>
                    <input id="categorylist" style="width: 100%;" data-bind="value: catModel.selectedCategory" />
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <h4>New Category</h4>
                    <input type="text" id="newcategory" data-bind="value: catModel.newcategory" style="width:100%" />
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                        <ul data-role="listview" data-style="inset" data-type="group">
                            <li>
                                List of Uncategorised Items
                                <ul id="nocategoryitems" data-bind="source: catModel.source" data-template="nocatTemplate"></ul>
                            </li>
                        </ul>
                </div>
            </div>

            <div class="form-group">
                    <div class="row">
                        <div class="col s12">
                            <button data-bind="events: {click : catModel.update}" type="button" class="btn btn-block btn-blue waves-button waves-effect waves-light">Update</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div data-role="footer">
        <div class="footerSticky" id="footerFixed" style="transform: translateY(0px);">
            <div class="row" style="margin-bottom: 5px;">
                <div class="col s3">
                    <div class="bottomNav col-primary activeNav">
                        <a href="">
                            <i class="material-icons">home</i>
                            <span class="bottomNav__txt">Home</span>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="bottomNav col-primary ">
                        <a href="#components/task/view.html">
                            <i class="material-icons">list_alt</i>
                            <span class="bottomNav__txt">To Do</span>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="bottomNav col-primary ">
                        <a href="#components/category/cat.html">
                            <i class="material-icons">notifications_active</i>
                            <span class="bottomNav__txt">
                                <i data-bind="text : catModel.nocategory }"></i> Alerts</span>
                        </a>
                    </div>
                </div>
                <div class="col s3">
                    <div class="bottomNav col-primary ">
                        <a href="#components/category/cat.html">
                            <i class="material-icons">more</i>
                            <span class="bottomNav__txt">More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="nocatTemplate" type="text/x-kendo-template">
    <li>
        <label>
            <input type="checkbox" name="notcat" class="filled-in" data-bind="value : item"  />
            <span data-bind="text : item"></span>
        </label>
    </li>
</script>